*{
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
#body{
  width:55%;
  margin:auto;
}
.navbar-item:hover{
  opacity:0.5;
}
.hero{
  background-color:#2C88BE;
  float:left;
}
.hero-body ul{
  text-align:center;
}
.hero-body ul li{
  display: inline-block;
  font-size:20px;
}
.hero h1,
.hero h2,
.hero p,
.hero div a{
  color:white;
}
.hero h1{
  font-weight:400;
  letter-spacing:-1px;
  padding:1%;
  text-align:center;
}
.hero h2,
.hero p{
  font-weight:400;
  text-align:center;
  padding-left:10%;
  padding-right:10%;
}
.hero p{
  letter-spacing:2.5px;
}
.left-proof,
.middle-proof,
.right-proof{
  width:20%;
  float:left;
}
.left-proof{
  background-color:lightblue;
}
.middle-proof{
  background-color:lightgrey;
}
.right-proof{
  background-color:grey;
}
.purpose-passion-section p{
  margin-left:15%;
  margin-right:15%;
  margin-bottom:5%;
  font-weight:300;
  font-size:16px;
}
.skills-and-path-section{
  float:left;
  padding:2%;
  background-color:#FDCA8C;
  padding-bottom:7%;
  color:white;
}
.tech-skills-section{
  width:100%;
  float:left;
  color:white;
}
.technologies{
  width:100%;
  margin:auto;
}
