*{
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
#body{
  width:55%;
  margin:auto;
}
.navbar-item:hover{
  opacity:0.5;
}
.hero{
  background-color:#2C88BE;
  float:left;
}
.hero-body ul{
  text-align:center;
}
